<div class="component-container">
    <div id="todo-container">
        <mat-card>
            <mat-card-header id="todo-header">
                <mat-card-title>TODO List</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="todo-item" *ngFor="let todo of (todos$ | async | todos:false); let i = index">
                    <mat-checkbox [(ngModel)]="todo.isDone" (change)="toggleTodo(todo, $event)"></mat-checkbox>
                    <input id="todo-name-input" class="todo-name" [(ngModel)]="todo.name" value="{{todo.name}}" (focus)="oldTodoName = todo.name; editIndex = i" (blur)="updateTodoName(todo)" (keydown.enter)="$event.target.blur()">
                    <div class="right-align" *ngIf="editingTodo(todo, i)">
                        <button class="right-align" mat-icon-button (click)="updateTodoName(todo)">
                            <mat-icon>check</mat-icon>
                        </button>
                    </div>
                </div>
                <form id="todo-input" [formGroup]="todoForm" (submit)="addTodo(todoForm.value.name)" novalidate>
                    <mat-form-field class="todo-name">
                        <input matInput formControlName="name" placeholder="New item">
                    </mat-form-field>
                    <button type="submit" mat-icon-button color="primary" (keydown.enter)="addTodo(todoForm.value.name)" [disabled]=todoForm.invalid>
                        <mat-icon>add</mat-icon>
                    </button>
                </form>
                <div id="todo-item" *ngFor="let todo of todos$ | async | todos">
                    <mat-checkbox [(ngModel)]="todo.isDone" (change)="toggleTodo(todo, $event)"></mat-checkbox>
                    <div class="todo-name" id="done-todo">{{todo.name}}</div>
                    <div class="right-align">
                        <button id="delete-todo-btn" mat-icon-button (click)="deleteTodo(todo.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
