<div class="component-container">
    <div id="todo-container">
        <mat-card>
            <mat-card-header id="todo-header">
                <mat-card-title>TODO List</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="todo-item" *ngFor="let todo of todos">
                    <mat-checkbox id="todo-checkbox"></mat-checkbox>
                    <div id="todo-name">{{todo.name}}</div>
                </div>
            </mat-card-content>
            <mat-card-actions id="todo-actions" align="end">
                <button mat-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
