#todo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#todo-container > mat-card {
    width: 100%;
    max-width: 450px;
    margin: 16px;
}

#todo-header {
    border-bottom: 1px solid gray;
}

#todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
}

#todo-name-input {
    border: none;
}

.todo-name {
    margin-left: 8px;
    font-size: 24px;
}

#done-todo {
    text-decoration: line-through;
}